body {
 font-family: 'Roboto', sans-serif;
 color: #424242;
}

.text-white {
 color: #fff;
}

.logo {
 display: flex;
 align-items: center;
}

.flex-end {
 display: flex;
 align-items: center;
 justify-content: flex-end;
}

.flex-column {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.contacts {
 height: 43px;
 background-color: #f0f2f4;
 box-shadow: 0px 1px 0px 0px #e2e2e2;
}

.contact-item {
 color: #424242;
 font-size: 15px;
 display: flex;
 align-items: center;
}

.grey-line::after {
 content: "";
 display: inline-flex;
 background-color: #e2e2e2;
 width: 1px;
 height: 42px;
 margin: 0 21px;
}

.container {
 width: 1024px;
 margin: 0 auto;
}

.contact-icon {
 margin-right: 11px;
 font-size: 18px;
}

.logo-title {
 color: #424242;
 font-size: 37px;
 font-weight: 700;
}

.logo-title-small {
 font-size: 15px;
 font-weight: 400;
 line-height: 1;
}

.logo-img {
 position: relative;
 right: 15px;
}

.fb-share {
 background-color: #1287bf;
 width: 26px;
 height: 26px;
 font-size: 16px;
 color: #ffffff;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 3px;
 margin: 0 12px;
}

.navigation {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 35px 0 33px;
}

.nav-menu {
 display: flex;
 position: relative;
 right: 13px;
}

.nav-menu-link {
 color: #424242;
 font-size: 15px;
 font-weight: 700;
}

.nav-menu-item {
 display: flex;
 align-items: center;
}

.nav-menu-item::after {
 content: "";
 width: 5px;
 height: 5px;
 background-color: #424242;
 margin: 0 18px;
 border-radius: 50%;
}

.nav-menu-item-last::after {
 content: " ";
 width: 0;
 height: 0;
}

.free-consult-link {
 color: #ffffff;
 font-size: 15px;
 font-weight: 700;
 padding: 9px 27px;
 border-radius: 4px;
 background-color: #de2b24;
}

.header-bg {
 height: 590px;
 background: url("../img/header-bg.jpg") no-repeat center;
 background-size: cover;
 padding-top: 170px;
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;
 right: 15px;
}

.header-title {
 color: #fff;
 font-size: 48px;
 font-weight: 700;
 text-align: center;
}

.header-title-s {
 color: #fff;
 font-size: 30px;
 font-weight: 300;
 text-align: center;
}

.header-main-btn {
 border-radius: 3px;
 color: #fff;
 font-size: 23px;
 font-weight: 700;
 background-color: #f8cd53;
 padding: 23px 52px;
 margin-top: 25px;
 text-transform: uppercase;
}

.section-about-us {
 padding: 102px 0 137px;
}

.section-about-us .section-title,
.section-about-us .section-slogan,
.section-about-us .black-line {
 margin-right: 22px;
}

.section-title {
 font-size: 36px;
 font-weight: 700;
 letter-spacing: 0.6px;
}

.section-slogan {
 font-size: 20px;
 font-weight: 300;
 line-height: 1;
 text-align: center;
 margin-bottom: 13px;
}

.black-line {
 background-color: #424242;
 width: 47px;
 height: 5px;
}

.white-line {
 background-color: #fff;
 width: 47px;
 height: 5px;
}

.services {
 margin-top: 46px;
 display: flex;
 margin-right: 22px;
}

.services-item {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 242px;
 margin-right: 104px;
}

.services-item:last-child {
 margin-right: 0;
}

.service-title {
 font-size: 22px;
 font-weight: 700;
 margin: 26px 0 10px;
}

.service-slogan {
 font-family: 'Open Sans', sans-serif;
 color: #5c5c5c;
 font-size: 13.5px;
 line-height: 22px;
 text-align: center;
}

.section-our-work {
 background-color: #de2b24;
 padding: 101px 0 134px;
}

.section-our-work .section-title,
.section-our-work .section-slogan,
.section-our-work .white-line {
 margin-right: 27px;
}

.our-work-images {
 display: flex;
 flex-wrap: wrap;
 margin-top: 47px;
 height: 506px;
 position: relative;
 right: 15px;
}

.image-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #f35e59;
 width: 255px;
 height: 253px;
}

.image-wrapper:nth-child(2n) {
 width: 257px;
}

.our-work-img {
 width: 100%;
 height: 100%;
}

.our-work-title {
 font-size: 26px;
 color: #fff;
 font-weight: 700;
}

.our-work-title-s {
 font-size: 16px;
 color: #fff;
 font-weight: 700;
}

.our-work-icon {
 font-size: 36px;
 margin-bottom: 25px;
 color: rgba(255, 255, 255, 0.5);
}

.section-contacts {
 background-color: #2a2a2a;
 padding: 85px 0 86px;
}

.section-contacts .flex-column {
 position: relative;
 right: 15px;
}

.contacts-title {
 font-size: 29px;
 color: #fff;
}

.contacts-social-row {
 display: flex;
 margin-top: 24px;
}

.contacts-social-row li {
 margin-right: 24px;
}

.contacts-social-row li:last-child {
 margin-right: 0;
}

.social-icon {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 14px 12px;
 border: 2px solid #515151;
 color: #fff;
 width: 45px;
 height: 45px;
 font-size: 23px;
}

.social-icon:hover {
 border-color: #de2b24;
}

.contacts-slogan {
 font-family: 'Open Sans', sans-serif;
 font-size: 15px;
 color: #cecece;
 margin: 33px 0 31px;
}

.contacts-input {
 border-radius: 1px;
 background-color: #515151;
 padding: 20px;
 border: none;
 outline: none;
 width: 683px;
}

.contacts-input::-webkit-input-placeholder {
 color: #cecece;
 font-size: 14px;
}

.contacts-input::-moz-placeholder {
 color: #cecece;
 font-size: 14px;
}

.contacts-input:-ms-input-placeholder {
 color: #cecece;
 font-size: 14px;
}

.contacts-input:-moz-placeholder {
 color: #cecece;
 font-size: 14px;
}

.btn-subscribe {
 outline: none;
 border-radius: 1px;
 font-size: 17px;
 font-weight: 700;
 padding: 14px 34px 14px 33px;
 text-align: center;
 color: #ffffff;
 margin-top: 26px;
 background-color: transparent;
 border: 2px solid #515151;
 cursor: pointer;
}

.main-footer {
 background-color: #515151;
 padding: 22px 0 27px;
}

.footer-info {
 color: #cecece;
 font-size: 14px;
 text-align: center;
}